body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f4f4f4;
}

.container {
  text-align: center;
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 400px;
}

h1 {
  font-size: 1.5rem;
}

input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 45%;
}

#check-btn {
  background-color: #28a745;
  color: white;
}

#clear-btn {
  background-color: #dc3545;
  color: white;
}

#results-div {
  margin-top: 10px;
  font-weight: bold;
}

.valid {
  color: #00471b;
}

.invalid {
  color: #4d3800;
}

@media (max-width: 500px) {
  button {
      width: 100%;
  }
}
